
<div id="{{elementid}}_{{innerform}}" class="mdl-align">
<h4 class="tiny_snippet_widget_instructions_title">{{name}}</h4>
<div class="tiny_snippet_widget_instructions">{{instructions}}</div>
</div>

<form class="tiny_snippet_form" id="{{uniqid}}_tiny_snippet_form">
    <div class="root tab-content">
        {{#variables}}
            <div class="tiny_snippet_form_row">
                <label for="{{key}}" class="tiny_snippet_widgetoptionlabel">{{displayname}}</label>
                    {{#isarray}}
                        <select data-key="{{key}}" name="{{key}}" id="{{key}}" class="tiny_snippet_templatevariable_{{templateindex}} tiny_snippet_widget_field">
                            {{#default}}
                                <option value="{{.}}">{{.}}</option>
                            {{/default}}
                        </select>
                    {{/isarray}}
                    {{^isarray}}
                        {{#islongtext}}
                            <textarea data-key="{{key}}" name="{{key}}" id="{{key}}" class="tiny_snippet_templatevariable_{{templateindex}} tiny_snippet_widget_field"
                            rows="5" cols="40">{{default}}</textarea>
                        {{/islongtext}}

                        {{^islongtext}}
                            <input type="text" data-key="{{key}}" name="{{key}}" id="{{key}}" class="tiny_snippet_templatevariable_{{templateindex}} tiny_snippet_widget_field" value="{{default}}"></input>
                        {{/islongtext}}
                    {{/isarray}}
            </div>
        {{/variables}}
    </div>
    <div class="tiny_snippet_widgetoptionsbuttons_cont">
        <button type="button" data-templateindex="{{templateindex}}" class="btn btn-secondary tiny_snippet_widgetcancelledbutton" data-action="insert">{{#str}} back, tiny_snippet  {{/str}}</button>
        <button type="button" data-templateindex="{{templateindex}}" class="btn btn-primary tiny_snippet_widgetinsertbutton" data-action="insert">{{#str}} insert, tiny_snippet {{/str}}</button>
    </div>

</form>